<table><tr><th>ID Orden</th><th>Hora Venta</th><th>Metodo Pago</th><th>Total</th><th>Vendedor</th></tr>
{{ORDER_ROWS}}
</table>
<div class='cart-summary'>
<h3>Resumen</h3>
<p>Total Transacciones: <strong>{{TOTAL_TRANSACTIONS}}</strong><br>
<span style='color #666666;'>&nbsp;Efectivo: <strong>{{COUNT_E}}</strong></span><br>
<span style='color #666666;'>&nbsp;Tarjeta : <strong>{{COUNT_T}}</strong></span><br>
<span style='color #666666;'>&nbsp;Cortesia: <strong>{{COUNT_C}}</strong></span><br>
</p>
<p class='total'>Ingresos Totales: <strong>{{REVENUE_TOTAL}}</strong><br>
<span style='color #666666;'>&nbsp;Efectivo: <strong>{{REVENUE_E}}</strong></span><br>
<span style='color #666666;'>&nbsp;Tarjeta : <strong>{{REVENUE_T}}</strong></span><br>
<span style='color #666666;'>&nbsp;Cortesia: <strong>{{REVENUE_C}}</strong></span><br>
</p>
</div>
